<style>
    .alinhamento{
        text-align:center;
        padding:20px;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }
    
</style>
 @model PequenoProdutor.Models.RegisterViewModel
        @{
            ViewBag.Title = "Cadastre-se";
        }

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h2 class="alinhamento">@ViewBag.Title.</h2> <br />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group; container">
                @Html.Label("Selecione o Nível de Usuário", new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.DropDownList("Role", null, "Selecione uma das opções", new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-group; container">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-group; container">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-group; container">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-group; container">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-group; container">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-group; container">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-group; container" align="center">
                    <input type="submit" class="btn btn-default" value="Registrar" />
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
